MindWeaveClient/Connected Services/PuzzleManagerService/MindWeaveServer.Contracts.DataContracts.Shared.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Shared" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Shared" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceFaultDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorType" type="tns:ServiceErrorType" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Target" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceFaultDto" nillable="true" type="tns:ServiceFaultDto" />
  <xs:simpleType name="ServiceErrorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="DatabaseError" />
      <xs:enumeration value="DuplicateRecord" />
      <xs:enumeration value="ValidationFailed" />
      <xs:enumeration value="NotFound" />
      <xs:enumeration value="OperationFailed" />
      <xs:enumeration value="CommunicationError" />
      <xs:enumeration value="LobbyFull" />
      <xs:enumeration value="GameInProgress" />
      <xs:enumeration value="LobbyNotFound" />
      <xs:enumeration value="PlayerBanned" />
      <xs:enumeration value="ValidationError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServiceErrorType" nillable="true" type="tns:ServiceErrorType" />
  <xs:complexType name="OperationResultDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResultDto" nillable="true" type="tns:OperationResultDto" />
</xs:schema>