MindWeaveClient/Connected Services/PuzzleManagerService/MindWeaveServer.Contracts.DataContracts.Puzzle2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Puzzle" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Puzzle" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Shared" />
  <xs:complexType name="ArrayOfPuzzleInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PuzzleInfoDto" nillable="true" type="tns:PuzzleInfoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPuzzleInfoDto" nillable="true" type="tns:ArrayOfPuzzleInfoDto" />
  <xs:complexType name="PuzzleInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImageBytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ImagePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsUploaded" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PuzzleId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PuzzleInfoDto" nillable="true" type="tns:PuzzleInfoDto" />
  <xs:complexType name="UploadResultDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Shared" base="q1:OperationResultDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="NewPuzzleId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UploadResultDto" nillable="true" type="tns:UploadResultDto" />
  <xs:complexType name="PuzzleDefinitionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullImageBytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Pieces" nillable="true" type="tns:ArrayOfPuzzlePieceDefinitionDto" />
      <xs:element minOccurs="0" name="PuzzleHeight" type="xs:int" />
      <xs:element minOccurs="0" name="PuzzleWidth" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PuzzleDefinitionDto" nillable="true" type="tns:PuzzleDefinitionDto" />
  <xs:complexType name="ArrayOfPuzzlePieceDefinitionDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PuzzlePieceDefinitionDto" nillable="true" type="tns:PuzzlePieceDefinitionDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPuzzlePieceDefinitionDto" nillable="true" type="tns:ArrayOfPuzzlePieceDefinitionDto" />
  <xs:complexType name="PuzzlePieceDefinitionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="BottomNeighborId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CorrectX" type="xs:double" />
      <xs:element minOccurs="0" name="CorrectY" type="xs:double" />
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element minOccurs="0" name="InitialX" type="xs:double" />
      <xs:element minOccurs="0" name="InitialY" type="xs:double" />
      <xs:element minOccurs="0" name="LeftNeighborId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PieceId" type="xs:int" />
      <xs:element minOccurs="0" name="RightNeighborId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SourceX" type="xs:int" />
      <xs:element minOccurs="0" name="SourceY" type="xs:int" />
      <xs:element minOccurs="0" name="TopNeighborId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PuzzlePieceDefinitionDto" nillable="true" type="tns:PuzzlePieceDefinitionDto" />
</xs:schema>