MindWeaveClient/Connected Services/MatchmakingService/MindWeaveServer.Contracts.DataContracts.Matchmaking1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Matchmaking" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Matchmaking" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Shared" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="LobbySettingsDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomPuzzleImage" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DifficultyId" type="xs:int" />
      <xs:element minOccurs="0" name="PreloadedPuzzleId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LobbySettingsDto" nillable="true" type="tns:LobbySettingsDto" />
  <xs:complexType name="LobbyCreationResultDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Shared" base="q1:OperationResultDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="InitialLobbyState" nillable="true" type="tns:LobbyStateDto" />
          <xs:element minOccurs="0" name="LobbyCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LobbyCreationResultDto" nillable="true" type="tns:LobbyCreationResultDto" />
  <xs:complexType name="LobbyStateDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentSettingsDto" nillable="true" type="tns:LobbySettingsDto" />
      <xs:element minOccurs="0" name="HostUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LobbyId" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Players" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="PuzzleImagePath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LobbyStateDto" nillable="true" type="tns:LobbyStateDto" />
  <xs:complexType name="GuestInvitationDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="GuestEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InviterUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LobbyCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GuestInvitationDto" nillable="true" type="tns:GuestInvitationDto" />
  <xs:complexType name="GuestJoinRequestDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DesiredGuestUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GuestEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LobbyCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GuestJoinRequestDto" nillable="true" type="tns:GuestJoinRequestDto" />
  <xs:complexType name="GuestJoinResultDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Shared" base="q3:OperationResultDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="AssignedGuestUsername" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InitialLobbyState" nillable="true" type="tns:LobbyStateDto" />
          <xs:element minOccurs="0" name="PlayerId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GuestJoinResultDto" nillable="true" type="tns:GuestJoinResultDto" />
</xs:schema>