MindWeaveClient/Connected Services/MatchmakingService/MindWeaveServer.Contracts.DataContracts.Puzzle.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Puzzle" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Puzzle" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PuzzleDefinitionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="fullImageBytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="pieces" nillable="true" type="tns:ArrayOfPuzzlePieceDefinitionDto" />
      <xs:element minOccurs="0" name="puzzleHeight" type="xs:int" />
      <xs:element minOccurs="0" name="puzzleWidth" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PuzzleDefinitionDto" nillable="true" type="tns:PuzzleDefinitionDto" />
  <xs:complexType name="ArrayOfPuzzlePieceDefinitionDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PuzzlePieceDefinitionDto" nillable="true" type="tns:PuzzlePieceDefinitionDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPuzzlePieceDefinitionDto" nillable="true" type="tns:ArrayOfPuzzlePieceDefinitionDto" />
  <xs:complexType name="PuzzlePieceDefinitionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="correctX" type="xs:double" />
      <xs:element minOccurs="0" name="correctY" type="xs:double" />
      <xs:element minOccurs="0" name="height" type="xs:int" />
      <xs:element minOccurs="0" name="pieceId" type="xs:int" />
      <xs:element minOccurs="0" name="sourceX" type="xs:int" />
      <xs:element minOccurs="0" name="sourceY" type="xs:int" />
      <xs:element minOccurs="0" name="width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PuzzlePieceDefinitionDto" nillable="true" type="tns:PuzzlePieceDefinitionDto" />
</xs:schema>