MindWeaveClient/Connected Services/MatchmakingService/MindWeaveServer.Contracts.DataContracts.Puzzle2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Puzzle" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Puzzle" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PuzzleDefinitionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullImageBytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Pieces" nillable="true" type="tns:ArrayOfPuzzlePieceDefinitionDto" />
      <xs:element minOccurs="0" name="PuzzleHeight" type="xs:int" />
      <xs:element minOccurs="0" name="PuzzleWidth" type="xs:int" />
      <xs:element minOccurs="0" name="SilhouetteImageBytes" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PuzzleDefinitionDto" nillable="true" type="tns:PuzzleDefinitionDto" />
  <xs:complexType name="ArrayOfPuzzlePieceDefinitionDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PuzzlePieceDefinitionDto" nillable="true" type="tns:PuzzlePieceDefinitionDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPuzzlePieceDefinitionDto" nillable="true" type="tns:ArrayOfPuzzlePieceDefinitionDto" />
  <xs:complexType name="PuzzlePieceDefinitionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="BottomNeighborId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CorrectX" type="xs:double" />
      <xs:element minOccurs="0" name="CorrectY" type="xs:double" />
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element minOccurs="0" name="InitialX" type="xs:double" />
      <xs:element minOccurs="0" name="InitialY" type="xs:double" />
      <xs:element minOccurs="0" name="LeftNeighborId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OffsetX" type="xs:int" />
      <xs:element minOccurs="0" name="OffsetY" type="xs:int" />
      <xs:element minOccurs="0" name="PieceId" type="xs:int" />
      <xs:element minOccurs="0" name="PieceImageBytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="RenderHeight" type="xs:int" />
      <xs:element minOccurs="0" name="RenderWidth" type="xs:int" />
      <xs:element minOccurs="0" name="RightNeighborId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SourceX" type="xs:int" />
      <xs:element minOccurs="0" name="SourceY" type="xs:int" />
      <xs:element minOccurs="0" name="TopNeighborId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PuzzlePieceDefinitionDto" nillable="true" type="tns:PuzzlePieceDefinitionDto" />
</xs:schema>