MindWeaveClient/Connected Services/MatchmakingService/MindWeaveServer.Contracts.DataContracts.Game1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Game" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Game" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="MatchEndResultDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="MatchId" type="xs:int" />
      <xs:element minOccurs="0" name="PlayerResults" nillable="true" type="tns:ArrayOfPlayerResultDto" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalTimeElapsedSeconds" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchEndResultDto" nillable="true" type="tns:MatchEndResultDto" />
  <xs:complexType name="ArrayOfPlayerResultDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerResultDto" nillable="true" type="tns:PlayerResultDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerResultDto" nillable="true" type="tns:ArrayOfPlayerResultDto" />
  <xs:complexType name="PlayerResultDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsWinner" type="xs:boolean" />
      <xs:element minOccurs="0" name="PiecesPlaced" type="xs:int" />
      <xs:element minOccurs="0" name="PlayerId" type="xs:int" />
      <xs:element minOccurs="0" name="Rank" type="xs:int" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="UnlockedAchievementIds" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerResultDto" nillable="true" type="tns:PlayerResultDto" />
</xs:schema>