MindWeaveClient/Connected Services/MatchmakingService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Matchmaking" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Puzzle" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Game" />
  <xs:element name="createLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hostUsername" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Matchmaking" minOccurs="0" name="settingsDto" nillable="true" type="q1:LobbySettingsDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createLobbyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Matchmaking" minOccurs="0" name="createLobbyResult" nillable="true" type="q2:LobbyCreationResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inviteToLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inviterUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="invitedUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lobbyId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="joinLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lobbyId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leaveLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lobbyId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="startGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hostUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lobbyId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="kickPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hostUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="playerToKickUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lobbyId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeDifficulty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hostUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lobbyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newDifficultyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inviteGuestByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Matchmaking" minOccurs="0" name="invitationData" nillable="true" type="q3:GuestInvitationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="joinLobbyAsGuest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Matchmaking" minOccurs="0" name="joinRequest" nillable="true" type="q4:GuestJoinRequestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="joinLobbyAsGuestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Matchmaking" minOccurs="0" name="joinLobbyAsGuestResult" nillable="true" type="q5:GuestJoinResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="requestPieceDrag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lobbyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pieceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="requestPieceMove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lobbyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pieceId" type="xs:int" />
        <xs:element minOccurs="0" name="newX" type="xs:double" />
        <xs:element minOccurs="0" name="newY" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="requestPieceDrop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lobbyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pieceId" type="xs:int" />
        <xs:element minOccurs="0" name="newX" type="xs:double" />
        <xs:element minOccurs="0" name="newY" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="requestPieceRelease">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lobbyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pieceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateLobbyState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Matchmaking" minOccurs="0" name="lobbyStateDto" nillable="true" type="q6:LobbyStateDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="matchFound">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lobbyCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="players" nillable="true" type="q7:ArrayOfstring" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Matchmaking" minOccurs="0" name="settings" nillable="true" type="q8:LobbySettingsDto" />
        <xs:element minOccurs="0" name="puzzleImagePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="lobbyCreationFailed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="kickedFromLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="onGameStarted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Puzzle" minOccurs="0" name="puzzleDefinition" nillable="true" type="q9:PuzzleDefinitionDto" />
        <xs:element minOccurs="0" name="matchDurationSeconds" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="onPieceDragStarted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pieceId" type="xs:int" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="onPiecePlaced">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pieceId" type="xs:int" />
        <xs:element minOccurs="0" name="correctX" type="xs:double" />
        <xs:element minOccurs="0" name="correctY" type="xs:double" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newScore" type="xs:int" />
        <xs:element minOccurs="0" name="bonusType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="onPieceMoved">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pieceId" type="xs:int" />
        <xs:element minOccurs="0" name="newX" type="xs:double" />
        <xs:element minOccurs="0" name="newY" type="xs:double" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="onPieceDragReleased">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pieceId" type="xs:int" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="onGameEnded">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Game" minOccurs="0" name="result" nillable="true" type="q10:MatchEndResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="onPlayerPenalty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pointsLost" type="xs:int" />
        <xs:element minOccurs="0" name="newScore" type="xs:int" />
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="lobbyDestroyed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnAchievementUnlocked">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="achievementKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>