MindWeaveClient/Connected Services/MatchmakingService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Matchmaking" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="createLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hostUsername" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts" minOccurs="0" name="settingsDto" nillable="true" type="q1:LobbySettingsDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createLobbyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Matchmaking" minOccurs="0" name="createLobbyResult" nillable="true" type="q2:LobbyCreationResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inviteToLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inviterUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="invitedUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lobbyId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="joinLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lobbyId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leaveLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lobbyId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="startGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hostUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lobbyId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="kickPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hostUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="playerToKickUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lobbyId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeDifficulty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hostUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lobbyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newDifficultyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateLobbyState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts" minOccurs="0" name="lobbyStateDto" nillable="true" type="q3:LobbyStateDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="matchFound">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matchId" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="players" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="lobbyCreationFailed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="kickedFromLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>