MindWeaveClient/Connected Services/SocialManagerService/MindWeaveServer.Contracts.DataContracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OperationResultDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResultDto" nillable="true" type="tns:OperationResultDto" />
  <xs:complexType name="ArrayOfFriendDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendDto" nillable="true" type="tns:FriendDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendDto" nillable="true" type="tns:ArrayOfFriendDto" />
  <xs:complexType name="FriendDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="isOnline" type="xs:boolean" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendDto" nillable="true" type="tns:FriendDto" />
  <xs:complexType name="ArrayOfFriendRequestInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendRequestInfoDto" nillable="true" type="tns:FriendRequestInfoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendRequestInfoDto" nillable="true" type="tns:ArrayOfFriendRequestInfoDto" />
  <xs:complexType name="FriendRequestInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="requestDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="requesterUsername" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendRequestInfoDto" nillable="true" type="tns:FriendRequestInfoDto" />
</xs:schema>