MindWeaveClient/Connected Services/SocialManagerService/MindWeaveServer.Contracts.DataContracts.Shared.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Shared" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Shared" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OperationResultDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResultDto" nillable="true" type="tns:OperationResultDto" />
</xs:schema>