MindWeaveClient/Connected Services/SocialManagerService/MindWeaveServer.Contracts.DataContracts.Social.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Social" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Social" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPlayerSearchResultDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerSearchResultDto" nillable="true" type="tns:PlayerSearchResultDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerSearchResultDto" nillable="true" type="tns:ArrayOfPlayerSearchResultDto" />
  <xs:complexType name="PlayerSearchResultDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvatarPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerSearchResultDto" nillable="true" type="tns:PlayerSearchResultDto" />
  <xs:complexType name="ArrayOfFriendDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendDto" nillable="true" type="tns:FriendDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendDto" nillable="true" type="tns:ArrayOfFriendDto" />
  <xs:complexType name="FriendDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvatarPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsOnline" type="xs:boolean" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendDto" nillable="true" type="tns:FriendDto" />
  <xs:complexType name="ArrayOfFriendRequestInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendRequestInfoDto" nillable="true" type="tns:FriendRequestInfoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendRequestInfoDto" nillable="true" type="tns:ArrayOfFriendRequestInfoDto" />
  <xs:complexType name="FriendRequestInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvatarPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RequesterUsername" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendRequestInfoDto" nillable="true" type="tns:FriendRequestInfoDto" />
</xs:schema>