MindWeaveClient/Connected Services/SocialManagerService/MindWeaveServer.Contracts.DataContracts.Social.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Social" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Social" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPlayerSearchResultDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerSearchResultDto" nillable="true" type="tns:PlayerSearchResultDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerSearchResultDto" nillable="true" type="tns:ArrayOfPlayerSearchResultDto" />
  <xs:complexType name="PlayerSearchResultDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="avatarPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerSearchResultDto" nillable="true" type="tns:PlayerSearchResultDto" />
</xs:schema>