MindWeaveClient/Connected Services/SocialManagerService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Social" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts" />
  <xs:element name="connect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="disconnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchPlayers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requesterUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchPlayersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Social" minOccurs="0" name="searchPlayersResult" nillable="true" type="q1:ArrayOfPlayerSearchResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requesterUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="targetUsername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendFriendRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts" minOccurs="0" name="sendFriendRequestResult" nillable="true" type="q2:OperationResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="respondToFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="responderUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requesterUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accepted" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="respondToFriendRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts" minOccurs="0" name="respondToFriendRequestResult" nillable="true" type="q3:OperationResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeFriend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="friendToRemoveUsername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeFriendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts" minOccurs="0" name="removeFriendResult" nillable="true" type="q4:OperationResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFriendsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFriendsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts" minOccurs="0" name="getFriendsListResult" nillable="true" type="q5:ArrayOfFriendDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFriendRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFriendRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts" minOccurs="0" name="getFriendRequestsResult" nillable="true" type="q6:ArrayOfFriendRequestInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="notifyFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromUsername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="notifyFriendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accepted" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="notifyFriendStatusChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="friendUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isOnline" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>