MindWeaveClient/Connected Services/SocialManagerService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="SocialManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ISocialManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Shared" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Social" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISocialManager_connect_InputMessage">
    <wsdl:part name="parameters" element="tns:connect" />
  </wsdl:message>
  <wsdl:message name="ISocialManager_disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:disconnect" />
  </wsdl:message>
  <wsdl:message name="ISocialManager_searchPlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:searchPlayers" />
  </wsdl:message>
  <wsdl:message name="ISocialManager_searchPlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialManager_searchPlayers_ServiceFaultDtoFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Shared" name="detail" element="q1:ServiceFaultDto" />
  </wsdl:message>
  <wsdl:message name="ISocialManager_sendFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:sendFriendRequest" />
  </wsdl:message>
  <wsdl:message name="ISocialManager_sendFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialManager_sendFriendRequest_ServiceFaultDtoFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Shared" name="detail" element="q2:ServiceFaultDto" />
  </wsdl:message>
  <wsdl:message name="ISocialManager_respondToFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:respondToFriendRequest" />
  </wsdl:message>
  <wsdl:message name="ISocialManager_respondToFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:respondToFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialManager_respondToFriendRequest_ServiceFaultDtoFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Shared" name="detail" element="q3:ServiceFaultDto" />
  </wsdl:message>
  <wsdl:message name="ISocialManager_removeFriend_InputMessage">
    <wsdl:part name="parameters" element="tns:removeFriend" />
  </wsdl:message>
  <wsdl:message name="ISocialManager_removeFriend_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeFriendResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialManager_removeFriend_ServiceFaultDtoFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Shared" name="detail" element="q4:ServiceFaultDto" />
  </wsdl:message>
  <wsdl:message name="ISocialManager_getFriendsList_InputMessage">
    <wsdl:part name="parameters" element="tns:getFriendsList" />
  </wsdl:message>
  <wsdl:message name="ISocialManager_getFriendsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFriendsListResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialManager_getFriendsList_ServiceFaultDtoFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Shared" name="detail" element="q5:ServiceFaultDto" />
  </wsdl:message>
  <wsdl:message name="ISocialManager_getFriendRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:getFriendRequests" />
  </wsdl:message>
  <wsdl:message name="ISocialManager_getFriendRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFriendRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialManager_getFriendRequests_ServiceFaultDtoFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Shared" name="detail" element="q6:ServiceFaultDto" />
  </wsdl:message>
  <wsdl:message name="ISocialManager_notifyFriendRequest_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:notifyFriendRequest" />
  </wsdl:message>
  <wsdl:message name="ISocialManager_notifyFriendResponse_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:notifyFriendResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialManager_notifyFriendStatusChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:notifyFriendStatusChanged" />
  </wsdl:message>
  <wsdl:message name="ISocialManager_notifyLobbyInvite_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:notifyLobbyInvite" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ISocialManager">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="connect">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialManager/connect" message="tns:ISocialManager_connect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialManager/disconnect" message="tns:ISocialManager_disconnect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="searchPlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialManager/searchPlayers" message="tns:ISocialManager_searchPlayers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialManager/searchPlayersResponse" message="tns:ISocialManager_searchPlayers_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISocialManager/searchPlayersServiceFaultDtoFault" name="ServiceFaultDtoFault" message="tns:ISocialManager_searchPlayers_ServiceFaultDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="sendFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialManager/sendFriendRequest" message="tns:ISocialManager_sendFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialManager/sendFriendRequestResponse" message="tns:ISocialManager_sendFriendRequest_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISocialManager/sendFriendRequestServiceFaultDtoFault" name="ServiceFaultDtoFault" message="tns:ISocialManager_sendFriendRequest_ServiceFaultDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="respondToFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialManager/respondToFriendRequest" message="tns:ISocialManager_respondToFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialManager/respondToFriendRequestResponse" message="tns:ISocialManager_respondToFriendRequest_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISocialManager/respondToFriendRequestServiceFaultDtoFault" name="ServiceFaultDtoFault" message="tns:ISocialManager_respondToFriendRequest_ServiceFaultDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="removeFriend">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialManager/removeFriend" message="tns:ISocialManager_removeFriend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialManager/removeFriendResponse" message="tns:ISocialManager_removeFriend_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISocialManager/removeFriendServiceFaultDtoFault" name="ServiceFaultDtoFault" message="tns:ISocialManager_removeFriend_ServiceFaultDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="getFriendsList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialManager/getFriendsList" message="tns:ISocialManager_getFriendsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialManager/getFriendsListResponse" message="tns:ISocialManager_getFriendsList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISocialManager/getFriendsListServiceFaultDtoFault" name="ServiceFaultDtoFault" message="tns:ISocialManager_getFriendsList_ServiceFaultDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="getFriendRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialManager/getFriendRequests" message="tns:ISocialManager_getFriendRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialManager/getFriendRequestsResponse" message="tns:ISocialManager_getFriendRequests_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISocialManager/getFriendRequestsServiceFaultDtoFault" name="ServiceFaultDtoFault" message="tns:ISocialManager_getFriendRequests_ServiceFaultDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="notifyFriendRequest">
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialManager/notifyFriendRequest" message="tns:ISocialManager_notifyFriendRequest_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="notifyFriendResponse">
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialManager/notifyFriendResponse" message="tns:ISocialManager_notifyFriendResponse_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="notifyFriendStatusChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialManager/notifyFriendStatusChanged" message="tns:ISocialManager_notifyFriendStatusChanged_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="notifyLobbyInvite">
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialManager/notifyLobbyInvite" message="tns:ISocialManager_notifyLobbyInvite_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ISocialManager" type="tns:ISocialManager">
    <wsp:PolicyReference URI="#NetTcpBinding_ISocialManager_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="connect">
      <soap12:operation soapAction="http://tempuri.org/ISocialManager/connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="disconnect">
      <soap12:operation soapAction="http://tempuri.org/ISocialManager/disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="searchPlayers">
      <soap12:operation soapAction="http://tempuri.org/ISocialManager/searchPlayers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultDtoFault">
        <soap12:fault use="literal" name="ServiceFaultDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/ISocialManager/sendFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultDtoFault">
        <soap12:fault use="literal" name="ServiceFaultDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="respondToFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/ISocialManager/respondToFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultDtoFault">
        <soap12:fault use="literal" name="ServiceFaultDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeFriend">
      <soap12:operation soapAction="http://tempuri.org/ISocialManager/removeFriend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultDtoFault">
        <soap12:fault use="literal" name="ServiceFaultDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFriendsList">
      <soap12:operation soapAction="http://tempuri.org/ISocialManager/getFriendsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultDtoFault">
        <soap12:fault use="literal" name="ServiceFaultDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFriendRequests">
      <soap12:operation soapAction="http://tempuri.org/ISocialManager/getFriendRequests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultDtoFault">
        <soap12:fault use="literal" name="ServiceFaultDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="notifyFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/ISocialManager/notifyFriendRequest" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="notifyFriendResponse">
      <soap12:operation soapAction="http://tempuri.org/ISocialManager/notifyFriendResponse" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="notifyFriendStatusChanged">
      <soap12:operation soapAction="http://tempuri.org/ISocialManager/notifyFriendStatusChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="notifyLobbyInvite">
      <soap12:operation soapAction="http://tempuri.org/ISocialManager/notifyLobbyInvite" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SocialManagerService">
    <wsdl:port name="NetTcpBinding_ISocialManager" binding="tns:NetTcpBinding_ISocialManager">
      <soap12:address location="net.tcp://localhost:8734/MindWeaveServer/Services/SocialManagerService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8734/MindWeaveServer/Services/SocialManagerService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ALDO\tonyz</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>