MindWeaveClient/Connected Services/HeartbeatService/MindWeaveServer.Contracts.DataContracts.Heartbeat.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Heartbeat" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Heartbeat" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HeartbeatRegistrationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="HeartbeatIntervalMs" type="xs:int" />
      <xs:element minOccurs="0" name="MessageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element minOccurs="0" name="TimeoutMs" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeartbeatRegistrationResult" nillable="true" type="tns:HeartbeatRegistrationResult" />
</xs:schema>