MindWeaveClient/Connected Services/HeartbeatService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Heartbeat" />
  <xs:element name="registerForHeartbeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerForHeartbeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Heartbeat" minOccurs="0" name="registerForHeartbeatResult" nillable="true" type="q1:HeartbeatRegistrationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendHeartbeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sequenceNumber" type="xs:long" />
        <xs:element minOccurs="0" name="clientTimestamp" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="unregisterHeartbeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="heartbeatAck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sequenceNumber" type="xs:long" />
        <xs:element minOccurs="0" name="serverTimestamp" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="connectionTerminating">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>