MindWeaveClient/Connected Services/ProfileService/MindWeaveServer.Contracts.DataContracts.Stats.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Stats" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Stats" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts" />
  <xs:complexType name="PlayerProfileViewDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="achievements" nillable="true" type="tns:ArrayOfAchievementDto" />
      <xs:element minOccurs="0" name="avatarPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateOfBirth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts" minOccurs="0" name="stats" nillable="true" type="q1:PlayerStatsDto" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerProfileViewDto" nillable="true" type="tns:PlayerProfileViewDto" />
  <xs:complexType name="ArrayOfAchievementDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AchievementDto" nillable="true" type="tns:AchievementDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAchievementDto" nillable="true" type="tns:ArrayOfAchievementDto" />
  <xs:complexType name="AchievementDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="iconPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AchievementDto" nillable="true" type="tns:AchievementDto" />
</xs:schema>