MindWeaveClient/Connected Services/ProfileService/MindWeaveServer.Contracts.DataContracts.Profile.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Profile" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Profile" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserProfileForEditDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="availableGenders" nillable="true" type="tns:ArrayOfGenderDto" />
      <xs:element minOccurs="0" name="dateOfBirth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idGender" type="xs:int" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserProfileForEditDto" nillable="true" type="tns:UserProfileForEditDto" />
  <xs:complexType name="ArrayOfGenderDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GenderDto" nillable="true" type="tns:GenderDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGenderDto" nillable="true" type="tns:ArrayOfGenderDto" />
  <xs:complexType name="GenderDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="idGender" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenderDto" nillable="true" type="tns:GenderDto" />
</xs:schema>