MindWeaveClient/Connected Services/ProfileService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ProfileManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Stats" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MindWeaveServer.Contracts.DataContracts.Profile" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProfileManager_getPlayerProfileView_InputMessage">
    <wsdl:part name="parameters" element="tns:getPlayerProfileView" />
  </wsdl:message>
  <wsdl:message name="IProfileManager_getPlayerProfileView_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPlayerProfileViewResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileManager_getProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:getProfile" />
  </wsdl:message>
  <wsdl:message name="IProfileManager_getProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileManager_updateProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:updateProfile" />
  </wsdl:message>
  <wsdl:message name="IProfileManager_updateProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileManager_changePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:changePassword" />
  </wsdl:message>
  <wsdl:message name="IProfileManager_changePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:changePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileManager_getPlayerProfileForEdit_InputMessage">
    <wsdl:part name="parameters" element="tns:getPlayerProfileForEdit" />
  </wsdl:message>
  <wsdl:message name="IProfileManager_getPlayerProfileForEdit_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPlayerProfileForEditResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileManager_updateAvatarPath_InputMessage">
    <wsdl:part name="parameters" element="tns:updateAvatarPath" />
  </wsdl:message>
  <wsdl:message name="IProfileManager_updateAvatarPath_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateAvatarPathResponse" />
  </wsdl:message>
  <wsdl:portType name="IProfileManager">
    <wsdl:operation name="getPlayerProfileView">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileManager/getPlayerProfileView" message="tns:IProfileManager_getPlayerProfileView_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileManager/getPlayerProfileViewResponse" message="tns:IProfileManager_getPlayerProfileView_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileManager/getProfile" message="tns:IProfileManager_getProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileManager/getProfileResponse" message="tns:IProfileManager_getProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileManager/updateProfile" message="tns:IProfileManager_updateProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileManager/updateProfileResponse" message="tns:IProfileManager_updateProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileManager/changePassword" message="tns:IProfileManager_changePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileManager/changePasswordResponse" message="tns:IProfileManager_changePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPlayerProfileForEdit">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileManager/getPlayerProfileForEdit" message="tns:IProfileManager_getPlayerProfileForEdit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileManager/getPlayerProfileForEditResponse" message="tns:IProfileManager_getPlayerProfileForEdit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateAvatarPath">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileManager/updateAvatarPath" message="tns:IProfileManager_updateAvatarPath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileManager/updateAvatarPathResponse" message="tns:IProfileManager_updateAvatarPath_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProfileManager" type="tns:IProfileManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPlayerProfileView">
      <soap:operation soapAction="http://tempuri.org/IProfileManager/getPlayerProfileView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProfile">
      <soap:operation soapAction="http://tempuri.org/IProfileManager/getProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProfile">
      <soap:operation soapAction="http://tempuri.org/IProfileManager/updateProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <soap:operation soapAction="http://tempuri.org/IProfileManager/changePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPlayerProfileForEdit">
      <soap:operation soapAction="http://tempuri.org/IProfileManager/getPlayerProfileForEdit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAvatarPath">
      <soap:operation soapAction="http://tempuri.org/IProfileManager/updateAvatarPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProfileManagerService">
    <wsdl:port name="BasicHttpBinding_IProfileManager" binding="tns:BasicHttpBinding_IProfileManager">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/MindWeaveServer/Services/ProfileManagerService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>